.menu-button {
    position: absolute;
    top: 0;

    --size: 3em;
    --padding: 0.2;
    left: calc(100vw - var(--size));

    width: var(--size);
    height: var(--size);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0.3em;
}