.button {
    border-radius: 40px;
    font-weight: 750;
}

.glow {
    box-shadow: 0 5px 20px var(--glow-green);
}

@media screen and (max-height: 600px) {
    .button {
        padding: 8px;
    }
}