#UIlayer {
    position: absolute;
    top: 0;
    left: 0;
    /* transform: 'translate(-50%, -50%)'; */
    background-color: rgb(22, 34, 45);
    width: calc(100vw - 100vh);
    height: 100vh;
    /* Is there a better way to make sure the div is the right size? */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

