#UIlayer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
  
    /* Portrait phone */
    width: calc(100vw/1.1);
}

/* Landscape phone */
@media screen and (min-width: 540px){
    #UIlayer {
        width: calc(100vw - 100vh);
    }
}

/* for iPad landscape*/
@media screen and (min-height: 540px) and (min-width: 540px) {
    #UIlayer {
        width: calc(100vw - 100vh/2);
    }
}

/* iPad portrait */
@media screen and (min-height: 1000px) and (min-width: 540px) {
    #UIlayer {
        width: calc(100vw - 100vh/7);
    }
}