.UIlayer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    width: 92.5vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2vh;
    margin-bottom: 5vh;
  
    /* default Portrait phone */
}

.transparent-overlay{
    position: absolute;
    width: 100vw;
    height: 300vh;
    left: -3.75vw;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -2;
}

/* Landscape phone */
@media screen and (min-width: 540px){
    .UIlayer {
        width: calc(100vw - 100vh);
    }

    .transparent-overlay {
        left: calc(-100vh/2);
    }
}

/* for iPad landscape*/
@media screen and (min-height: 540px) and (min-width: 540px) {
    .UIlayer {
        width: calc(100vw - 100vh/2);
    }

    .transparent-overlay {
        left: calc((-100vh/2)/2);
    }
}

/* iPad portrait */
@media screen and (min-height: 1000px) and (min-width: 540px) {
    .UIlayer {
        width: calc(100vw - 100vh/7);
    }

    .transparent-overlay {
        left: calc((-100vh/7)/2);
    }
}

/* special check for tiny screens */
@media screen and (max-width: 320px) {
    .UIlayer {
        width: 70vw;
    }

    .transparent-overlay {
        left: -15vw;
    }
}
