@keyframes correct-animation {
    0% { background-color: var(--glow-green)}
}

@keyframes incorrect-animation {
    0% { background-color: rgb(238, 100, 100); transform: translateX(0px); }
    15% { transform: translateX(-10px); }
    30% { transform: translateX(10px); }
    45% { transform: translateX(-5px); }
    60% { transform: translateX(0px); }
}

.correct-animation {
    animation: correct-animation 1s ease-in-out;
}

.incorrect-animation {
    animation: incorrect-animation 0.65s ease-in-out;
}
