.item-container {
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin-bottom: 1vh;
}

.item-container > button {
    flex: 0.25 1 0px;
}

/* special check for tiny screens */
@media screen and (max-width: 320px) {
    .item-container {
        gap: 5vw;
    }
}