#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 1.75;

  --glow-green: rgb(156, 255, 126);
  --grey: rgb(153, 153, 153);
  --light-grey: rgb(200, 200, 200);
  --ui-yellow-darker:hsl(49, 30%, 68%); 
  --ui-yellow: 	hsl(49, 100%, 89%); 

  font-family: 'Andika', sans-serif;
}

@media only screen and (min-height:400px) {
  #root {
    font-size: 20px;
  }
}

@media only screen and (min-height:800px) {
  #root {
    font-size: 22px;
  }
}
