.question {
    background-color: var(--ui-yellow);
    border-radius: 20px;

    margin-top: 70vh;
    /* was 62 */
    margin-bottom: 5vh;
    width: fit-content;
    padding-left: 4vh;
    padding-right: 4vh;
    padding-bottom: 1vh;

    font-weight:500;
}

.glow-less {
    box-shadow: 0 5px 30px var(--ui-yellow);
}
