.question {
    background-color: white;
    border-radius: 20px;
    height: 21.3vh;
    /* height: 60vh;*/
    margin: 5vh;

    margin-top: 50vh;
}

/* TODO: make margins based on flexible values */